body {
    margin: 30px;
    background-color: beige;
}

fieldset {
    border-color: cornflowerblue;
}

.hidden {
    display: none;
}

.info {
    list-style-type: none;
}

ul {
    width: 300px;
}

#Employees_ul ul:first-of-type{
    border-top: solid black thin;
}

.employee {
    border-right: solid black thin;
    border-bottom: solid black thin;
    border-left: solid black thin;
}

li {
    padding: 10px;
}

.rating1{
    background-color: red;
}

.rating2{
    background-color:  orange;
}

.rating3{
    background-color: yellow;
}

.rating4{
    background-color: greenyellow;
}

.rating5{
    background-color: lawngreen;
}